--constraint https://raw.githubusercontent.com/apache/airflow/constraints-2.7.2/constraints-3.10.txt
apache-airflow-providers-slack
apache-airflow-providers-snowflake
backoff
fsspec
pandas
pdfplumber
pyarrow
s3fs==2023.9.2
snowflake-connector-python
