--constraint https://raw.githubusercontent.com/apache/airflow/constraints-2.7.2/constraints-3.10.txt
apache-airflow-providers-slack
apache-airflow-providers-snowflake
backoff
dbt-core==1.6.9
dbt-snowflake==1.6.6
fsspec
pandas
pdfplumber
pyarrow
snowflake-connector-python
